.componentEditorForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.modalButtons {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    justify-content: flex-end;
}