.main {
    margin-top: var(--qikfy-head-height);
    transition: all 0.2s;
}

.container {
    padding: 32px 64px;
}

.drawerOpen {
    margin-left: var(--qikfy-drawer-width);
    width: calc(100% - var(--qikfy-drawer-width) );
}

.drawerOpenContainer {
    margin-left: var(--qikfy-drawer-width);
    width: calc(100% - var(--qikfy-drawer-width) - 128px);
}