.page {
    display: flex;

    flex-direction: column;

    gap: 48px;

    width: 100%;
}

.form {
    width: 100%;
    max-width: 560px;

}

.filterContainer {
    display: flex;
    gap: 32px;

    min-width: 240px;

    width: 100%;

    justify-content: space-between;
    align-items: center;
}

.pageList {
    display: flex;
    gap: 32px;
    
    flex-wrap: wrap;
}