.header {
    position: fixed;
    top: 0;
    background-color: var(--qikfy-primary-color);
    height: var(--qikfy-head-height);
    padding: 0px 16px;
    width: calc(100% - 32px);

    box-shadow: var(--qikfy-shadow);

    display: flex;
    gap: 24px;
    align-items: center;
    color: white;

    transition: all 0.2s;
}

.drawerOpen {
    margin-left: var(--qikfy-drawer-width);
    width: calc(100% - var(--qikfy-drawer-width) - 32px);
}

.toolbar {
    flex: 1
}