.modal {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px
}

.modalContent {
    background: white;
    width: 100%;
    max-width: 512px;
    border-radius: 4px;
    padding: 12px 16px; 

    display: flex;
    flex-direction: column;
    gap: 16px;
}


